/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #2b4547;
    line-height: 1.6;
}

h1 {
    color: #F2F2F2;
    margin-bottom: 30px;
}

h2 {
    color: #0f529eea;
    margin-bottom: 30px;
}

p {
    color: #F2F2F2;
    margin-bottom: 30px;
}

/* Encabezado */
#about-me {
    text-align: center;
    padding: 20px;
    background-color: #18191a   ;
    margin-bottom: 10px;
}

#about-me h1 {
    font-size: 2rem;
}

#about-me img {
    max-width: 350px;
    border-radius: 160%;
    margin-top: 20px;
}

/* Enlaces */
#links {
    text-align: center;
    padding: 10px;
    background-color: #121213;
    margin-bottom: 20px;
}

#links a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-weight: bold;
}

#links a:hover {
    text-decoration: underline;
    color: #3c49ff;
}

/* Secciones de listas */
.hobbies,
.tasks {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f0eded;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.459);
}

.hobbies ul,
.tasks ol {
    margin: 0;
    padding: 0 20px;
}

.hobbies li,
.tasks li {
    margin-bottom: 5px;
}

/* Tabla */
.schedule {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.schedule th,
.schedule td {
    padding: 10px;
    border: 1px solid #ddd;
}

.schedule th {
    background-color: #0f529eea;
    color: white;
}

.schedule td {
    background-color: #f4f4f4;
}

/* Formulario */
.contact-form {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #29177a;
}

.contact-form button {
    background-color: #0f529eea;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a72ecc;
}
